body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: url(assets/bg-desktop.svg),
    hsl(257, 40%, 49%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.button {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    text-decoration: none;
    border-radius: 50px;
    padding: 1em 4em;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

ion-icon {
    color: #fff;
  }

nav img {
    height: 50px;
}

header {
    display: flex;
    margin-top: 3em;
}

.header-hero {
    width: 55%;
}

.header-content {
    width: 45%;
    padding: 1em 0 0 50px;
}

.header-content p {
    line-height: 25px;
    padding-bottom: 20px;
}

footer ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

footer li {
    padding-right: 30px;
}

@media screen and (max-width: 1050px) {

    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 950px) {

    body {
        font-size: 13px;
    }

    .header-hero img{
        width: 95%;
    }
}

@media screen and (max-width: 900px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-content {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-hero {
        width: 100%;
        text-align: center;
    }

    .header-hero img {
        width: 70%;
        padding: 0;
    }

    body {
        font-size: 15px;
    }

    .button {
        padding: 0.9em 5em;
    }

    footer ul{
        justify-content: center;
        margin-top: 50px;
    }
}